<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input id="search_field" type="text" name="drug_search_list" id="drug_search_list" onkeyup="search_drug(this.value);"
                   class="form-control" placeholder="Search - Enter Drug Name"/>
            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
        </div>
    </div>
    <div class="col-md-12">
        <table class="plainTableList table table-striped table-hover table-condensed display" id="intialDrugList">
            <thead>
            <tr>
                <th>Drug Name Type</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</div>
